:root{
--Dark_cyan: hsl(185, 75%, 39%);
--Very_dark_desaturated_blue: hsl(229, 23%, 23%);
--Dark_grayish_blue: hsl(227, 10%, 46%);
--Dark_gray: hsl(0, 0%, 59%);
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: goldenrod;
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 51vw bottom 20vh, left 45vw top 50vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.card-container {
    margin: 170px auto 50px;
    width: 330px;
    height: 380px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.bubbles {
    background: url(./images/Captura\ de\ pantalla\ 2022-12-14\ 144739.png);
    height: 140px; 
}

.photo {
    position: absolute;
    top: 87px;
    left: 35%;
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    height: 96px;
}

.personal-data-container {
    background-color: white;
    height: 150px;
    padding: 75px; 
    box-sizing: border-box;
    text-align: center;
}

.name {
    font-weight: 700;
    color: var(--Very_dark_desaturated_blue);
}

.age, .city {
    color: var(--Dark_gray);
}

.city {
    margin-top: 10px;
    font-size: 0.8em;
}

.stats-container {
    background-color: white;
    border-top: 1px solid var(--Dark_gray);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}

.statistics {
    text-align: center;
}
.quantity {
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--Very_dark_desaturated_blue);
}
.units {
    font-size: 0.6em;
    color: var(--Dark_gray);
    letter-spacing: 2px;
}

/* --------- footer --------- */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* ---------1440px  --------- */
@media screen and (min-width: 1440px) {
    .card-container {
        width: 350px;
    }
}
